<div class="custom-container" *ngIf="currentUser; else loggedOut">
  <div class="custom-shape">
    <div class="custom-image"></div>
  </div>
  <h3>{{ currentUser.name }}</h3>
  <h3 class="custom-title">{{ currentUser.profession }}</h3>
  <p>Web Designer,UI designer,photographer,web developer,etc</p>
  <div class="custom-icons">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <i class="fa fa-instagram" aria-hidden="true"></i>
    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </div>
</div>
<ng-template #loggedOut>
  Please login.
</ng-template>
